<html>
    <head>
    </head>
    <body>
        <div style="height: 1920px; width: 1080px;">
            <img id="picture1" src="{{url_for('static', filename='Bob_the_builder.jpeg')}}"/>
            <img id="picture2" src="{{url_for('static', filename='George-Washington.jpeg')}}"/>
        </div>
        <!-- <h1>{{value}}</h1>
        <h2>{{pic1[0]}}</h2>
        <h2>{{pic1[1]}}</h2> -->
        <script type="text/javascript">
            function set_position(pic, pos) {
                pic.style.position = 'absolute'
                console.log(pos)
                pic.style.left   = pos[0] + 'px'
                pic.style.top    = pos[1] + 'px'
                pic.style.right  = pos[2] + 'px'
                pic.style.bottom = pos[3] + 'px'
                console.log(pic.style.left)
            }
            var pic1 = ['{{pic1[0]}}', '{{pic1[1]}}', '{{pic1[2]}}', '{{pic1[3]}}']
            var pic2 = ['{{pic2[0]}}', '{{pic2[1]}}', '{{pic2[2]}}', '{{pic2[3]}}']
            set_position(document.getElementById("picture1"), pic1)
            set_position(document.getElementById("picture2"), pic2)
        </script>
    </body>
</html>
